body {
  font-family: 'Roboto', sans-serif;

  margin: 0;
}

img {
  display: block;
}

label {
  display: block;
  margin-top: 100px;
  margin-left: 15px;
}

.search-form {
  display: flex;
  //   flex-direction: row;
}

input {
  margin-left: 15px;
  width: 300px;
}

.notice {
  width: 300px;
  margin-left: 50px;
}

.countries-container {
  display: flex;
  flex-direction: raw;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 30px;
}

.description-box {
  width: 400px;
}

.thumb {
  border: 1px solid black;
}

.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 0;
}

.label-search {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
